services:
  gpt4free:
    image: hlohaus789/g4f:latest
    shm_size: 2gb
    build:
      context: .
      dockerfile: docker/Dockerfile
    volumes:
      - .:/app
    ports:
      - '8080:1337'
      - '1337:1337'
      - '7900:7900'
    environment:
      - G4F_PORT=1337
      - G4F_GUI_PORT=1337
      - PORT=1337
